<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="contheader">
        <div class="titulogo">
            <div class="titulop" ><h1>Gestion de Citas IPS</h1></div>
        <div class="logo"></div>
    </div>
    <nav class="menu">
        <ul>
            <li class="lista"><a href="oficios.html">Oficios</a></li>
            <li class="lista"><a href="#otrolugar">Link 2</a></li>
            <li class="lista"><a href="#otrolugar">Link 3</a></li>
            <li class="lista"><a href="#otrolugar">Link 4</a></li>
        </ul>
    </nav>
    </header>

    
</body>
</html>