{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/style.css"%}' type="text/css">
    <title>Pagina Principal</title>
</head>
<body>
    <header class="contheader">
        <div class="titulogo">
            <div class="titulop" ><h1>Gestion de Citas IPS</h1></div>
        <div class="logo"></div>
    </div>
    <nav class="menu">
        <ul>
            <li class="lista"><a href="listaOficios/">Oficios</a></li>
            <li class="lista"><a href="listaAgendamientos/">Agendamientos</a></li>
            <li class="lista"><a href="listaCondiciones/">Condiciones</a></li>
            <li class="lista"><a href="listaEmpleados/">Empleados</a></li>
            <li class="lista"><a href="listaEntidadesSalud/">Entidades de Salud</a></li>
            <li class="lista"><a href="listaTransacciones/">Transacciones</a></li>
            <li class="lista"><a href="listaUsuarios/">Usuarios</a></li>
        </ul>
    </nav>
    </header>
    
</body>
</html>